@import '../../../styles/colors';
@import '../../../styles/variables';

%student-card {
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;

  .img-holder {
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  h2 {
    @include default-font(20px);
  }
}

@mixin house-styles($housecolor) {
  @extend %student-card;

  h2 {
    color: $housecolor;
  }
}

.student-gryffindor {
  @include house-styles($gryffindor);
}

.student-slytherin {
  @include house-styles($slytherin);
}

.student-ravenclaw {
  @include house-styles($ravenclaw);
}

.student-hufflepuff {
  @include house-styles($hufflepuff);
}