@import '../../../styles/colors';
@import '../../../styles/variables';

%student-card {
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;

  .img-holder {
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.student-gryffindor {
  @extend %student-card;

  h2 {
    color: $gryffindor;
  }
}

.student-slytherin {
  @extend %student-card;

  h2 {
    color: $slytherin;
  }
}

.student-ravenclaw {
  @extend %student-card;

  h2 {
    color: $ravenclaw;
  }
}

.student-hufflepuff {
  @extend %student-card;

  h2 {
    color: $hufflepuff;
  }
}