@import '../../../styles/colors';
@import '../../../styles/variables';

.student-card {
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;

  .img-holder {
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}