$darkgray: #5D5A62;
$lightgray: #BCB8B7;
$red: #A43E50;
$gold: #B59071;
$blue: #1E3F5D;
$green: #70A69D;
$yellow: #F2DEB5;
$white: white;

$gryffindor: darken($red, 10%);
$slytherin: darken($green, 20%);
$hufflepuff: darken($yellow, 20%);
$ravenclaw: #1E3F5D;